*{
    text-align: center;
    font-size: 30px;
    background-color: rgb(180, 235, 235);
    color: rgb(115, 25, 137);
  }
  .lor-class{
    background-color: burlywood;
  }
  .baslik2{
    border: 3px solid rgb(0, 76, 255);
    padding: 45px;
    margin: 95px;
    background-color: yellowgreen;
  }
  .baslik3{
    border: 4px dotted orangered ;
    border-radius: 5px;
    background-color: burlywood;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 10px 40px;
    padding: 2rem 3rem 0 5px;
  }
  .baslik4{
    border: 15px dashed;
    background-color: orange;
    text-transform: uppercase;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .baslik1{
    border-top: 3px solid green;
    border-bottom: 3px solid pink ;
    margin-top: 5rem;
    margin-right: 3rem;
    padding: 2rem 0 0 6rem;
  }
  .spanEl{
  background-color: blueviolet;
  color: black;
  padding: 7px 0;
  }